* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.login-container {
  width: 100%;
  height: 100vh;
}

.login-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}

.login-container .form-container {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#0006, #0000, #0006);
}

.login-container .form-container.hidden {
  display: none;
}

.login-container .form-container h2 {
  margin: 0;
  text-align: center;
  font-size: 1.55rem;
  font-weight: 700;
}

/* Ajuste-2c */
.form-login,
.form-register {
  width: 350px;
  padding: 30px 20px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #0008;
  border-radius: 15px;
  color: white;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  animation: parpadear 1s infinite linear alternate;
}

@keyframes parpadear {
  0% {
    box-shadow: 0 0 170px #fff;
  }
  50% {
    box-shadow: 0 0 15px #fff8;
  }
  100% {
    box-shadow: 0 0 8px #fff8;
  }
}

.datos-container {
  margin: auto;
  width: 300px;
  height: auto;
  position: relative;
}

.datos-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-size: 0.8rem;
}

.datos-container label input {
  background-color: transparent;
  color: white;
  padding: 5px 8px;
  border: 1px solid #cac9c9;
  border-radius: 20px;
  margin-top: 13px;
  font-family: sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  box-shadow: 0 0 4px #ffa;
}

input:focus-visible {
  outline: 1px solid #bbb;
}

.datos-container label input:focus,
.datos-container label input:hover {
  background-color: #0005;
}

.datos-container label input::placeholder {
  color: #d8d8d8;
  letter-spacing: 0.1px;
  font-family: Arial, sans-serif;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-container input {
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding: 7px 20px;
  border: 1px solid #cac9c9;
  box-shadow: 0 0 4px #0005;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.button-container input:hover {
  background-color: #0005;
}

.links-container a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  cursor: pointer;
}

.links-container a:hover {
  text-decoration: underline;
  color: rgb(223, 222, 222);
}

.error-message {
  color: #ff4d4d;
  font-size: 0.85rem;
  margin-top: -20px;
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 720px) {
  .form-login,
  .form-register {
    width: 350px;
    height: auto;
  }

  .datos-container {
    width: 300px;
    height: auto;
  }

  .login-container .form-container h2 {
    font-size: 2rem;
  }

  .datos-container label {
    font-size: 1rem;
  }

  .datos-container label input {
    font-size: 0.9rem;
  }

  .links-container a {
    font-size: 0.9rem;
  }
}